{% extends "page.html" %}

{% set page = c.page %}
{% set item_count = c.page.item_count %}

{% block subtitle %}{{ _('Tags') }}{% endblock %}


{% block breadcrumb_content %}
  <li>{{ _('Tags') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">
        {% block page_heading %}{{ _('Tags') }}{% endblock %}
      </h1>


<strong>{{ c.content['total'] }}</strong> {{_('tags found')}}</p>
<hr>
{% if request.url.split("?")|length > 1 %}
{% set data =  request.url.split("?")[1] %}

{% set post = data.split('&') %}
{% set no_page = post[1:][0] %}
{% set no_page2 = post[1:][1] %}

{%endif%}


      <ul class="dataset-list unstyled">
      {%for tag in c.content['tags'] %}
      <li class="dataset-item" style="padding-bottom: 2px; margin-bottom:2px;">
      	<div class="dataset-content">
      		<h3 class="dataset-heading" style="padding-bottom: 2px; margin-bottom:2px;" >{{h.dataset_name(tag.dataset_id)}}</h3>
      		<h4 style="padding: 2px; margin:2px;"> {{tag.status}}
      			<a href="/dataset/{{tag.dataset_id}}" alt='dataset' > URL </a>

      		</h4>
          
      		<p style="padding-bottom: 2px; margin-bottom:2px;">
            
            {{tag.tag}}<br />
            {%if tag.status == 'waiting' %}
            	<a href='/tags/accept?id={{tag.id}}' alt='accept'> <i class="fa fa-check"></i>{{_('Accept')}}</a>
            	<a href='/tags/decline?id={{tag.id}}' alt='decline'> <i class="fa fa-times"></i>{{_('Decline')}} </a>
            {%elif tag.status == 'accepted'%}
            	<a href='/tags/decline?id={{tag.id}}' alt='decline'> <i class="fa fa-times"></i>{{_('Decline')}} </a>
            {%elif tag.status == 'declined'%}
            	<a href='/tags/accept?id={{tag.id}}' alt='accept'> <i class="fa fa-check"></i>{{_('Accept')}}</a>
            {%endif%}
          </p>
          
      	</div>
      </li>
      {%endfor%}
     <ul>
    </div>
{% if request.url.split("?")|length > 1 %}
{% set data =  request.url.split("?")[1] %}

{% set post = data.split('&') %}
{% set no_page = post[1:][0] %}
{% set no_page2 = post[1:][1] %}

{%endif%}

    <hr>
    <div class="pagination pagination-centered">
      <ul>
        <li> <a href='/admin/tags?page=1&{{no_page}}&{{no_page2}}'>«</a></li>
        {% for i in c.pages %}
          <li {% if i|int == c.page|int %} class="active" {%endif%}> <a href='/admin/tags?page={{i}}&{{no_page}}&{{no_page2}}'>{{i}} </a></li>
        {%endfor%}
        <li> <a href='/admin/tags?page={{c.page_num}}&{{no_page}}&{{no_page2}}'>»</a></li>
      </ul>
    </div
  </article>
{% endblock %}

{% block secondary_content %}


  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('Filter Results') }}</h2>
    <form action="" method="get" class="module-content form-inline form-narrow">
      <input type='hidden' name='page' value='1'/>

      <div class="control-group">
        <label for="field-type">{{ _('Filter by type') }}</label>
        <select id="field-type" name="type">
          <option value="">{{ _('All') }}</option>
          <option value="accepted"> {{_('Accepted') }}</option>
          <option value="waiting"> {{_('Waiting') }}</option>
          <option value="declined"> {{_('Declined') }}</option>
        </select>
      </div>


                
   {% import 'macros/form.html' as form %}
 {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/dataset/autocomplete?incomplete=?'} %}
                  {{ form.input('datasets', id='field-tags', label=_('Datasets'), placeholder=_('eg. default'), value=c.dataset, error='', classes=['control-full'], attrs=tag_attrs) }}
      <div class="control-group">
        <label for="field-search">{{ _('Search tag') }}</label>
        <input id="field-search" name="search" class="search" style="width:100%;" value="{% if c.search_text %}{{c.search_text}}{%endif%}">
      </div>
<style type="text/css">
.mybutton:hover{
  text-decoration: none;
  color: white;
}
</style>
      <div class="form-actions">
        <button class="mybutton">{{ _('Apply') }}</button>
        <a class="mybutton" href="/admin/tags" style="padding:0.45em;">{{ _('Reset') }}</a>
      </div>
    </form>
  </section>
{% endblock %}
